@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --primary-color: #ad076e;
  --secondary-color: #1b206e;
  --bg--lg1: linear-gradient(
    90deg,
    rgba(208, 21, 103, 1) 0%,
    rgb(7, 82, 41) 100%
  );
  --bg--lg2: linear-gradient(
    45deg,
    rgb(196, 208, 21) 0%,
    rgb(187, 13, 149) 100%
  );
  --bg--lg3: linear-gradient(
    -45deg,
    rgb(196, 208, 21) 0%,
    rgb(187, 13, 149) 100%
  );
  --bg--lg4: linear-gradient(-45deg, rgb(10, 31, 63) 0%, rgb(61, 10, 50) 100%);

  --bg--rg: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  --bg--rg: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: rgb(236, 229, 232);
  background: var(--bg--rg);
}
h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

/* ------------  Header Section  -------------- */

.home_content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.logo {
  position: fixed;
  top: 10px;
  left: 100px;
  font-size: 2.5rem;
  background: var(--bg--lg1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(1px);

  z-index: 20;
  font-family: "Bauhaus 93", sans-serif;
  & a {
    text-decoration: none;
    color: #111;
  }
}

.toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(../images/menu.png) no-repeat center
    center/30px;
  z-index: 20;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transition: 0.2s;
  &.active {
    background: var(--primary-color) url(../images/close.png) no-repeat center
      center/20px;
    border-radius: 50%;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  background: var(--bg--rg);
  z-index: 15;
  @include flexCenter();

  &.active {
    left: 0;
  }
  & ul {
    position: relative;
    & li {
      position: relative;
      list-style: none;
      text-align: center;
      & a {
        font-size: 2.2rem;
        color: #111;
        text-decoration: none;
        font-weight: 300;
        transition: 0.3s;

        &:hover {
          letter-spacing: 1px;
          color: var(--primary-color);
          border-bottom: 1px solid var(--primary-color);
        }
      }
    }
  }
  & .social_bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    @include flexCenter();
    & a {
      display: inline-block;
      transform: scale(0.5);
    }
  }
  & .email_icon {
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);
  }
}

.home_img {
  position: absolute;
  top: 20%;
  right: 5%;
  height: 500px;
}
/* ------------  Home Section  -------------- */
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
  &.home {
    flex-direction: row;
    margin-top: 0;
  }
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  letter-spacing: 1px;
  &:hover {
    transform: scale(0.98);
    letter-spacing: 2px;
  }
}

/* ------------ Services Section  -------------- */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;

  & .service {
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    background: var(--bg--lg2);

    & .icon img {
      max-width: 100px;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    }
    & h2 {
      font-size: 1.5rem;
      margin-top: 20px;
      color: var(--secondary-color);
    }
  }
}

/* ------------  Portfolio Section  -------------- */

.portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  & .item {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    transition: 0.5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);

    & img {
      width: 100%;
      height: 100%;
    }
    & .action {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        rgba(32, 143, 37, 0.8),
        rgba(139, 10, 122, 0.562)
      );

      @include flexCenter();
      opacity: 0;
      transition: 0.5s;
      & a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        padding: 5px 15px;
      }
    }
    &:hover {
      box-shadow: 0 0 10px rgba(240, 243, 40, 0.952);
      & .action {
        opacity: 1;
      }
    }
  }
}

/* ------------  Contact Section  -------------- */

.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.contact_form {
  position: relative;
  background: #f9f9f9;
  background: var(--bg--lg3);

  width: calc(100% - 400px);
  padding: 60px 20px 20px;
  & form {
    width: 100%;
  }
  & .row {
    width: 100%;
    display: flex;
    & input,
    & textarea {
      position: relative;
      border: 1px solid #fff;
      color: #fff;
      background: transparent;
      width: 100%;
      padding: 10px;
      outline: none;
      font-size: 1rem;
      font-weight: 300;
      margin: 10px 0;
      resize: none;
    }
    & textarea {
      height: 150px;
    }
    & input[type="submit"] {
      background: var(--primary-color);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      color: #fff;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      border: 0;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        transform: scale(0.98);
      }
    }
  }
  & .input50 {
    width: 50%;
    margin: 0 10px;
  }
  & .input100 {
    width: 100%;
    margin: 0 10px;
  }
}

.contact_info {
  width: 350px;
  background: #f9f9f9;
  background: var(--bg--lg2);
  padding: 60px 40px 20px;
  & .info_box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    & .contact_icon {
      width: 20px;
      margin-right: 40px;
    }
    & .details {
      h4 {
        color: var(--secondary-color);
      }
      & a,
      p {
        color: #111;
      }
    }
  }
}

footer {
  width: 100%;
  height: 10vh;
  color: #fff;
  @include flexCenter();
  background: var(--bg--lg4);
}

/* ------------  Media Querry Section  -------------- */

@media (max-width: 1068px) {
  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }
  section {
    padding: 100px 40px;
  }
  .navigation ul li a {
    font-size: 2rem;
  }
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact {
    flex-direction: column;
  }
  .contact_form {
    width: 100%;
    padding: 30px 30px 20px;
    & .row {
      flex-direction: column;
    }
    & .input50,
    .input100 {
      width: 100%;
      margin: 0;
    }
  }
  .contact_info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}

@media (max-width: 768px) {
  .home_img {
    display: none;
  }
  .services {
    grid-template-columns: 1fr;
    & .service {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
  }
}
